//colors

$dark-orange: rgb(192, 125, 44);
$medium-orange: rgb(239, 156, 57);
$light-orange: rgb(210, 162, 83);
$purple: rgb(40, 41, 59);
$dark-grey: rgb(77, 77, 89);
$light-grey: rgb(210, 210, 210);
$background-color: $purple;
$font-color: $light-grey;
$main-menu-bg: rgb(22, 22, 26);

$base-padding: 0.5em;
