$icomoon-font-family: 'whatsnext-icons' !default;
$icomoon-font-path: '/assets/fonts' !default;

$icon-arrow-down: '\e900';
$icon-arrow-left: '\e901';
$icon-arrow-right: '\e902';
$icon-arrow-up: '\e903';
$icon-seen: '\e904';
$icon-check: '\e905';
$icon-cross-circle: '\e906';
$icon-export: '\e907';
$icon-friends: '\e908';
$icon-home: '\e909';
$icon-mail-circle: '\e90a';
$icon-plus: '\e90b';
$icon-review: '\e90c';
$icon-search: '\e90d';
$icon-seeing: '\e90e';
$icon-social-facebook: '\e90f';
$icon-social-twitter: '\e910';
$icon-star: '\e911';
$icon-to-see: '\e912';
$icon-user: '\e913';
