<div class="search-component">
  <div class="search-box-container">
    <input
      id="searchTextField"
      class="search-text-field"
      [(ngModel)]="searchText"
      placeholder="enter search text"
    />
  </div>

  <div class="no-results" *ngIf="!results.length">
    <div *ngIf="!searchText.length">Search for a term</div>
    <div *ngIf="searchText.length">No results for {{ searchText }}</div>
  </div>

  <ul *ngIf="results.length && searchText.length">
    <li *ngFor="let result of results" class="search-result">
      <a routerLink="/shows/{{result.id}}">{{ result.name }}</a>
    </li>
  </ul>
</div>
