<div *ngIf="user" class="my-shows">
  <div class="user-info">
    <div class="avatar">
      <img src="/assets/lp_demo.jpg" alt="{{user.name}}" />
    </div>
    <div class="info">
      <div class="name">{{ user.name }}</div>
      <div class="email">{{ user.email }}</div>
    </div>
  </div>

  <div class="filter-buttons">
    <a class="item" href="#">to see</a> <a class="item" href="#">seeing</a>
    <a class="item" href="#">seen</a>
  </div>

  <div class="category to-see" *ngIf="toSee.length">
    <h3>Shows to see</h3>
    <app-show-list-item
      *ngFor="let show of toSee"
      [show]="show"
    ></app-show-list-item>
  </div>

  <div class="category seen" *ngIf="seen.length">
    <h3>Seen Shows</h3>
    <app-show-list-item
      *ngFor="let show of seen"
      [show]="show"
    ></app-show-list-item>
  </div>
</div>

<div class="no-items" *ngIf="!seen.length && !toSee.length">
  <h3>You are tracking no shows add some to get started</h3>
</div>
