<div *ngIf="user" class="my-shows">
  <div class="user-info">
    <div class="avatar">
      <img src="/assets/lp_demo.jpg" alt="{{user.name}}" />
    </div>
    <div class="info">
      <div class="name">{{ user.name }}</div>
      <div class="email">{{ user.email }}</div>
    </div>
  </div>

  <div class="filter-buttons">
    <a
      [routerLink]="['/', 'my-shows', 'toSee']"
      [routerLinkActive]="['active']"
      class="item"
    >
      to see</a
    >
    <a
      [routerLink]="['/', 'my-shows', 'seen']"
      [routerLinkActive]="['active']"
      class="item"
      >seen</a
    >
  </div>

  <div class="shows" *ngIf="shows.length">
    <div *ngFor="let show of shows">
      <a routerLink="/shows/{{show.tmdbId}}">
        <h3>{{ show.name }}</h3>
        <img [src]="show.image" alt="" />
      </a>
      <app-track-show
        [showId]="show.id"
        [status]="status"
        (statusClick)="statusChanged($event)"
      ></app-track-show>
    </div>
  </div>

  <div class="no-items" *ngIf="!shows.length">
    <h3>You are tracking no shows add some to get started</h3>
  </div>
</div>
