<div *ngIf="user" class="my-shows">
  <div class="user-info">
    <div class="avatar">
      <img src="/assets/lp_demo.jpg" alt="{{user.name}}" />
    </div>
    <div class="info">
      <div class="name">{{ user.name }}</div>
      <div class="email">{{ user.email }}</div>
    </div>
  </div>

  <div class="filter-buttons">
    <a
      [routerLink]="['/', 'my-shows', 'toSee']"
      [routerLinkActive]="['active']"
      class="item icon-to-see"
    >
      to see</a
    >
    <a
      [routerLink]="['/', 'my-shows', 'seen']"
      [routerLinkActive]="['active']"
      class="item icon-seen"
      >seen</a
    >
  </div>

  <div class="shows" *ngIf="shows.length">
    <div *ngFor="let show of shows" class="show-details">
      <header>
        <a routerLink="/shows/{{show.tmdbId}}">
          <h1>{{ show.name }}</h1>
          <img [src]="show.image" alt="" />
        </a>
      </header>
      {{ show.tracking.rating }}
      <app-ratings
        [showId]="show.id"
        [rating]="show.tracking.rating"
        (ratingClick)="movieRated($event)"
        class="rating"
      >
      </app-ratings>
    </div>
  </div>

  <div class="no-items" *ngIf="!shows.length">
    <h3>You are tracking no shows add some to get started</h3>
  </div>
</div>
