<h2>My TV Shows</h2>
<div *ngIf="user">
  <div class="user-info">
    <div class="avat"><img src="{{user.avatar}}" alt="{{user.name}}" /></div>
    <div class="info">
      <span>{{ user.name }}</span> <span>{{ user.email }}</span>
    </div>
  </div>
  <div class="to-see" *ngIf="toSee.length">
    <h3>Shows to see</h3>
    <app-show-list-item
      *ngFor="let show of toSee"
      [show]="show"
    ></app-show-list-item>
  </div>

  <div class="seen" *ngIf="seen.length">
    <h3>Seen Shows</h3>
    <app-show-list-item
      *ngFor="let show of seen"
      [show]="show"
    ></app-show-list-item>
  </div>
</div>

<div class="no-items" *ngIf="!seen.length && !toSee.length">
  <h3>You are tracking no shows add some to get started</h3>
</div>
