<div *ngIf="show; else: loader">
  <img [src]="show.image" alt="{{show.name}}" />
  <h1>{{ show.name }}</h1>
  <div *ngIf="isTracking">
    <app-ratings
      [rating]="show.user_rating"
      [itemId]="show.tmdbId"
      (ratingClick)="movieRated($event)"
    >
    </app-ratings>
  </div>
  <hr />
  <p>
    <span>Seasons: {{ show.number_of_seasons }}</span> -
    <span> Popular vote: {{ show.vote_average }} </span>
  </p>
  <p>{{ show.overview }}</p>

  <h2>More like this</h2>
  <ul>
    <app-similar-shows
      *ngFor="let simShow of show.similar"
      [show]="simShow"
    ></app-similar-shows>
  </ul>

  <a (click)="goBack()">Back</a>
</div>

<ng-template #loader>Loading...</ng-template>
