<div *ngIf="show; else: loader" class="show-details">
  <header>
    <img [src]="show.image" alt="{{show.name}}" />
    <h1>{{ show.name }}</h1>
  </header>

  <div class="social">
    <app-track-to-see
      [show]="show"
      (statusClick)="statusChanged($event)"
    ></app-track-to-see>
    <app-track-seen
      [show]="show"
      (statusClick)="statusChanged($event)"
    ></app-track-seen>
    <div *ngIf="isTracking">
      <app-ratings
        [showId]="show.tmdbId"
        [rating]="show.tracking.rating"
        (ratingClick)="movieRated($event)"
      >
      </app-ratings>
    </div>
  </div>

  <div class="contents">
    <header>
      <div class="seasons">
        <span>{{ show.number_of_seasons }}</span> Season{{
          show.number_of_seasons !== 1 ? 's' : ''
        }}
      </div>
      <div class="popular-vote">
        <span>Popular vote</span> {{ show.vote_average }}<span>/10</span>
      </div>
    </header>
    <p>{{ show.overview }}</p>

    <app-similar-shows [shows]="show.similar"></app-similar-shows>

    <a (click)="goBack()" class="back-button icon-arrow-left">Back</a>
  </div>
</div>

<ng-template #loader>
  <div class="loader"><div>Loading...</div></div>
</ng-template>
