<div *ngIf="show; else: loader">
  <img [src]="show.image" alt="{{show.name}}" />
  <h1>{{ show.name }}</h1>
  <p>
    <span>Seasons: {{ show.number_of_seasons }}</span> -
    <span *ngIf="show.vote_average">
      <app-ratings
        [rating]="show.vote_average"
        [itemId]="show.tmdbId"
      ></app-ratings>
    </span>
  </p>
  <p>{{ show.overview }}</p>

  <h2>More like this</h2>
  <ul>
    <app-similar-shows
      *ngFor="let simShow of similarShows"
      [show]="simShow"
    ></app-similar-shows>
  </ul>

  <a (click)="goBack()">Back</a>
</div>

<ng-template #loader>Loading...</ng-template>
